<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617990458933-9qa9e1lj0qk4fn6kfc7m1jq5d8rou7s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617990458933-9qa9e1lj0qk4fn6kfc7m1jq5d8rou7s1</string>
	<key>API_KEY</key>
	<string>AIzaSyCeTC6ks3ERRdTpQ0tEjiQ7-636HWb0uGk</string>
	<key>GCM_SENDER_ID</key>
	<string>617990458933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasinozdemir.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-83c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-83c4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617990458933:ios:40929c3c78cc2331b36b7c</string>
</dict>
</plist>